  <header>
     <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  
  <a class="navbar-brand" href="/">shopping cart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Products <span class="sr-only">(current)</span></a>
      </li>
     
      <li class="nav-item">
    <a class="nav-link" href="/cart">cart<span id="cartcount" class="badge badge-success">{{count}}</span></a>
      </li>
 
        <li class="nav-item">
        <a class="nav-link" href="/orders">orders</a>
      </li>
      {{#if user}}
        <div class="pl-4" >
        <li class="nav-item">
        <a class="nav-link" href="#">{{user.username}}</a>
        </li> 
        </div>
      {{else}}
       <div class="ml-5">
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Account</a>
       </li>
      </div> 
      {{/if}}
      </ul>
      {{#if user}}
      <div class="p-2">
      <a href="/logoutuser"><button  type="button"  class="btn btn-danger ">logout</button></a>
      </div>
     {{else}}
      <div class="p-2">
      <a href="/loginuser"><button  type="button"  class="btn btn-info ">login</button></a>
      </div>
     {{/if}}
   


    
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    
  </div>

</nav>
    
